body {
    background-color: $negro;
}

.contenedor-estetica {
    @include tablet {
        height: 100vh;
        @include grid(2, $separacion/2);
    }
    .imagen {
        height: 30rem;
        background-image: url(../../build/img/1.webp);
        @include tablet {
            height: auto;
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.app {
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion/2;
    .seccion {
        display: none;
        margin-top: $separacion/2;
    }
}

.mostrar-seccion {
    display: block!important;
}