.no-webp .imagen-contacto {
    background-image: url(../../build/img/encuentra.jpg);
}

.webp .imagen-contacto {
    background-image: url(../../build/img/encuentra.webp);
}

.imagen-contacto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $separacion*2 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
    p {
        font-size: 1.8rem;
        color: $blanco;
    }
}