/*Navegación Principal*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $grisOscuro;
    h2 {
        color: $blanco;
        font-weight: $bold;
        font-size: 3rem;
        width: min-content;
        span {
            font-size: 1.5rem;
        }
    }
}

.navegacion {
    background-color: $secundario;
    display: none;
    justify-content: space-around;
    visibility: hidden;
    transition: visibility .3s ease-in-out, opacity .5s linear, display 5s linear;
    @include tablet {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

.mostrar {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.navegacion-principal {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
    a {
        color: $blanco;
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        padding: 2rem;
        &:hover {
            background-color: $primario;
            color: $secundario;
        }
    }
}

.no-webp .hero {
    background-image: url(../img/hero1.jpg);
}

.webp .hero {
    background-image: url(../img/hero1.webp);
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    position: relative;
}

.hero::after {
    content: '';
    background-color: rgba(39, 14, 36, 0.5);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.contenido-hero {
    z-index: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: $blanco;
    font-weight: $bold;
    p {
        color: $blanco;
    }
}


/** Menu de hamburguesa **/

.mobile-menu {
    @include tablet {
        display: none;
    }
    img {
        width: 5rem;
    }
}