.paquetes {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
    flex-wrap: wrap;
    .paquete {
        width: unset;
        display: flex;
        flex-direction: column;
        flex-basis: calc(100% - 4rem);
        margin: 2rem;
        padding: 2rem;
        text-align: center;
        border: 1px solid $secundario;
        @include tablet {
            flex-basis: calc(30% -2rem);
        }
        h2 {
            width: min-content;
        }
        ul {
            list-style: none;
            margin: 1rem 0;
        }
    }
    justify-content: center;
}