.servicios-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicios {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 1rem;
    @include tablet {
        flex: 0 0 calc(33.3% - 1rem);
        align-items: center;
    }
}

.iconos {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: $primario;
    border-radius: 50%;
}

.iconos {
    svg {
        font-size: 2rem;
        color: $primario;
    }
}